@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);
  body {
  background: black;
}

.hidden {
  opacity:0;
}
.console-container {

  font-family: 'Source Code Pro', monospace;
  font-size:1em;
  text-align:center;
  height:100%;
  width:100%;
  display:block;
  position:relative;
  color:white;
  top:70vh;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
  height:10em;
  width:20em;
   display:inline-block;
  position:relative;
  top:0;
  left:10px;
}
.btn {
  border: none;
  font-family: 'Source Code Pro', monospace;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.clickme {color: white;}
