@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@0,300..800;1,300..800&&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap);

@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";



.homepagediv{
  width: 100vw;
  height: 100vh;
  align-self:center;
  background: linear-gradient(
    to right,
    #833ab4,
    #fd1d1d,
    #fcb045
  );
  background-size: 400% 400%;
  animation: body 10s infinite ease-in-out;
}

@keyframes body {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.rectangle_1{
  position: absolute;
  top:20%;
  margin-left:10%;
  height: 15px;
  width: 100px;
  border-radius: 10px;
  background: white;
  animation: forrec_1 3s infinite;
}
@keyframes forrec_1 {
  0% {
    width: 100px;
  }
  50% {
    width: 50px;
  }
  100%{
    width: 100px;
  }
}
.rectangle_2{
  position: absolute;
  top:20%;
  margin-left:20%;
  height: 15px;
  width: 80px;
  border-radius: 10px;
  background-color: white;
  animation: forrec_2 3s infinite;
}
@keyframes forrec_2{
  0%{
    width: 80px;
  }
  50%{
    margin-left: 16%;
    width: 160px;
  }
  100%{
    width: 80px;
  }
}
sup{
  font-size: medium;
}

.desc{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 40vw;
  text-align: justify;
  top:45%;
  left: 10%;
  font-size: medium;
  color: white;
}
.display-1{

  height: auto;
  align:left;
  font-family: 'source code pro', monospace;
  color: white;
  margin-left: 2%;
  text-align: justify;
  text-justify: inter-character;
  z-index: 1;
  position: relative;
}
.header{
  color: white;
  height: 10em;

}


.paragraph{
  font-family: 'Open Sans', sans-serif;

  color:white;
  text-align: justify;
  text-justify: inter-word;
  opacity: 0;
  margin-left:50%;
  animation: slide-in 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.child-2{
  position: absolute;
  align-self:left;
  right: 10%;
  bottom: 5%;
  text-align: justify;
  text-justify: inter-word;
}

.parent{
  display: flex;
  margin-left:-20%;
}

.image1{
  margin-left:35%;
  margin-top: 5%;
  z-index: 0;
  width: auto;
  height: 70vh;
  max-width: 90vw;
  opacity: 0;
  animation: slide-in 5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: forwards;
}
.child{
  font-family:"Onest", sans-serif;
  font-weight: 900;
  position: relative;
  align-self:center;
  margin-top: 10%;
  left:70%;
  opacity: 0%;
  animation: slide-in 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  display: inline-block;
  
}
ul{
  list-style-type: none;
  position: absolute;
  -webkit-perspective: 900;
}


li{
  text-align: right;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: .018em;
  font-size: 5em;
  font-style: italic;
  font-weight: bolder;
  -webkit-transform: rotateY(-30deg);
  margin: -5%;
  
}
li:hover, li.selected{
  transition: .8s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 5em;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transform-style: preserve-3d;
  color: antiquewhite;
  -webkit-transform: rotateY(0deg);
  -webkit-perspective: 700;
}

span{
  display: inline-block;
}
.projectmain{
  position: fixed;
  left: 56%;
  top: 30%;
  justify-content: center;
}
.parent-2{
  margin: 15%;

}
.type{
  font-family: 'Silkscreen', cursive;
  color: white;
  font-size: 10vw;
  z-index: 0;
}
.list{
  color: white;
  font-family: 'Open Sans', sans-serif;
  height: 20vh;
  width: 20vw;
  font-size: 0.70em;
  margin-top: 50%;
}

.img1{
  height: 80vh;
  width: auto;
}
a:hover{
  background-color: white;
}
.footer-1{
  z-index: 999;
  font-family: 'Open Sans', sans-serif;
  color:white;
}



.emptyspace{
  height: 20vh;
}
.name{
  color: white;
  z-index: 999;
  font-family:"Onest", sans-serif;
  font-weight: 900;
  font-size: 3em;
  position: absolute;
  top:25%;
  margin-left:10%;
}
.smol-txt{
  color: white;
  z-index: 999;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  position: fixed;
  top:20%;
  margin-left:5%;
}
.smol-txt-2{
  color: white;
  z-index: 999;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  position: fixed;
  top:80%;
  margin-left:5%;
}
.menu-1{
  color: white;
  z-index: 999;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  position: fixed;
  top:1%;
  left:90%;
}
@keyframes slide-in {
  from {
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
  .image1{
    float: left;
    margin-left:0;
    margin-top: 60%;
    z-index: 0;
    width: auto;
    height: 40vh;
  }
  .child{
    color: white;
    position: absolute;
    align-self: center;
    top:15%;
    right: 10%;
  }
  .child-2{
    position: absolute;
    align-self:center;
    left: 5%;
    top: 60%;
  }
  .parent-2{
    margin-top: 50%;
  }
  .list{
    float: left;
    height: 10vh;
    width: 20vw;
    font-size: 0.75em;
    margin-top: 70%;
  }
  .img1{
    width: 180%;
    height: auto;
  }
  .menu-1{
    color: white;
    z-index: 999;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    position: fixed;
    top:12%;
    left:78%;
  }
  ul{
    list-style-type: none;
    position: absolute;
    -webkit-perspective: 900;
  }
  
  
  li{
    text-align: right;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: .013em;
    font-size: 2em;
    font-style: italic;
    font-weight: bolder;
    -webkit-transform: rotateY(-30deg);
    margin: -5%;
    
  }
  li:hover{
    transition: .8s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: 4em;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transform-style: preserve-3d;
    color: antiquewhite;
    -webkit-transform: rotateY(0deg);
    -webkit-perspective: 800;
  }
  .name{
    top:10%;
  }

}
