<div class="homepagediv">

<div class="container">

  <div class="projectmain" id="projectmain">

    <div class="parent" >
        <img src="/assets/46178.jpg" class="image1" alt="">
        <div class="child">
          <h1><sup>//</sup><b> Kanwar</b></h1>

          <h1> Preet</h1>
        </div>
        <div class="child-2">
          <h2 class="paragraph">^^This is a portfolio website,<br> where i showcase some of my artworks </h2>
          </div>
    </div>
    <div class="parent-2">
      <div class="row">
        <h1 class="type" id="type">a few</h1>
      <div class="col">

        <div class="list">
      <p>
            <a (click)="changeimgtodog()">Potrait of an angry dog>></a><br>
            <a (click)="changeimgtoselfpotrait()">Self Potrait>></a><br>
            <a (click)="changeimgtosketch1()">Random Sketch Pt.1>></a><br>
            <a (click)="changeimgtosketch2()">Random Sketch Pt.2>></a><br>
            <a (click)="changeimgtosoldier()">Soldier>></a><br>
            <a (click)="changeimgtosketch3()">Random Sketch Pt.3>></a>
      </p>
      </div>
      </div>
      <div class="col">
        <img class="img1" id="imgName" src="../assets/IMG1.jpg">
      <div>
    </div>




  </div>

  </div>

  </div>
  <div class="video-container">
    <img class="video" src="../assets/lighter gif.gif">
    <div class="caption">
      <div class="emptyspace">
      </div>
      <h3 style="display:inline;">(a)</h3><h6 style="position: relative;display:inline;text-align: justify;
      text-justify: inter-word; ">Do not question my design choices<br> because i did not question them either.<br>--elliotisacoolguy</h6><br>

      <div class="emptyspace">
      </div>
      <h3 style="display:inline;">(b)</h3><h6 style="position: relative;display:inline;text-align: justify;
      text-justify: inter-word; ">This is a portfolio website only <br> created for experimantal purposes. </h6><br>
      <div class="emptyspace">
      </div>
      <h3 style="display:inline;">(c)</h3><h6 style="position: relative;display:inline;text-align: justify;
      text-justify: inter-word; ">All art you see is purchasable, you <br>will have to contact me on instagram<br> for more information regarding buying. </h6><br>
      <div class="emptyspace">
      </div>
      <h3 style="display:inline;">(d)</h3><h6 style="position: relative;display:inline;text-align: justify;
      text-justify: inter-word; ">I have no idea about most of stuff<br> while creating this website, so <br> don't mind if some of the<br> things are out of alignment. </h6><br>
      <div class="emptyspace">
      </div>
      <h3 style="display:inline;">(e)</h3><h6 style="position: relative;display:inline;text-align: justify;
      text-justify: inter-word; ">I downloaded this lighter animation <br>from a stock website shoutout @Video by<br> Chayenne from Pixabay</h6><br>
      <div class="emptyspace">
      </div>
      <h3 style="display:inline;">(f)</h3><h6 style="position: relative;display:inline;text-align: justify;
      text-justify: inter-word; ">Thanks for visiting tho// much love :)</h6><br><br><br><br>
      <div class="footer-1">
        <p>Contact e-mail @Kanwarp280@gmail.com // Instagram @kxnwar_
      </div>
    </div>

  </div>
  <p class="smol-txt">Folio V.1</p>
  <p class="smol-txt-2">01/01<br>/<br>Something about <br>kanwar</p>
  <a class="menu-1" (click)="openmenu()"> menu//</a>
