<div class="homepagediv">
  
<div class="container">

  <div class="projectmain" id="projectmain">

    <div class="parent" >
        <div class="child">
          <ul>
            <li class="selected" (click)="about()"><span>/ABOUT</span></li>
          <li (click)="projects()"><span>/PROJECTS</span></li>
          <li (click)="artworks()"><span>/ARTWORKS</span></li>
        </ul>
        </div>
        
    </div>
    




  </div>

  </div>

  </div>
  
  <p class="smol-txt">Folio V.2</p>
  <div class="container_for_name">
    <div class="rectangle_1"></div>
    <div class="rectangle_2"></div>
    <p class="name">KANWAR<br>PREET</p>
    <div id="desc_parent"></div>
    <p class="desc">Hi, I am a cloud computing enthusiast with a passion for creating creative visual experiences.
      I always find learning new things exciting and facing unfamiliar challenges. 
      In addition to coding, I enjoy building side projects because it allows me to explore my creativity and accomplish exciting things.</p>
    <p class="desc-2"> <b>Python | Terraform | Machine learning | Full-Stack Web development | Cloud computing</b></p>
    <a class="desc-3" href="www.linkedin.com/in/kanwarpreet-singh28">Linkedin: www.linkedin.com/in/kanwarpreet-singh28</a>
    
    
    
  </div>
  <p class="smol-txt-2">01/01<br>/<br>Something about <br>kanwar</p>
  <a class="menu-1" (click)="openmenu()"> menu//</a>
  