<br><br><a (click)="bacc()" class="bacc">go bacc</a>
<p><br><br><br>
  hello visitor,<br>

As i am writing this about me file, i wonder what might be your intention towards opening this file.<br>
Well anyways this file is named "about.txt", i have to tell you something about myself, promise won't make anything up :p.<br>
<br>
<br>
I consider myself as an artist and also an engineer on the side. I graduated with a major in Computer Science in 2022,<br>
and ever since been working as programmer analyst trainee. I've enjoyed working from home a little too much that's why i decided to create this portfolio website.<br>
\\there is no particular reason why i made this portfolio, it just seemed cool. Also i copied some ideas from people i admire.<br>
<br>
Thanks for visiting.<br>
do visit again to see some updates in future maybe :)<br>
<br>
<br>
Contact @kanwarp280@gmail.com<br>
Instagram: @kxnwar_</p><br>
