<div class="homepagediv">
  
  <div class="container">
  
    <div class="projectmain" id="projectmain">
  
      <div class="parent" >
          <div class="child">
            <ul>
              <li (click)="about()"><span>/ABOUT</span></li>
            <li class="selected" (click)="projects()"><span>/PROJECTS</span></li>
            <li (click)="artworks()"><span>/ARTWORKS</span></li>
            <li (click)="chat()"><span>/CONNECT</span></li>
          </ul>
          </div>
          
      </div>
      
  
  
  
  
    </div>
  
    </div>
  
  </div>
  <p class="smol-txt-2">01/01<br>/<br>Something about <br>kanwar</p>
  <section id="projects">
    <div class="rectangle_1"></div>
    <div class="rectangle_2"></div>
    <h2>PROJECTS</h2>
    <p>Some projects I've worked on this past year.</p>
    <div class="project-container">
        <div class="project-item">
            <h3>Image Rekognition</h3>
            <p>Test what Amazon rekognition see's in your image!</p>
            <a (click)="openimagereko()">View </a>
        </div>
        <div class="project-item">
            <h3>Birthday Card</h3>
            <p>A fun birthday card you can send someone with customized message.</p>
            <a href="https://github.com/kanwar280/egreetingcard">View </a>
        </div>
        <div class="project-item">
            <h3>Phishing Detector</h3>
            <p>Detect if a website is phishing or safe with machine learning.</p>
            <a href="https://github.com/kanwar280/Phishing-Website-Detector">View </a>
        </div>
        <div class="project-item">
            <h3>Chat App</h3>
            <p>(Currently not working)<BR>A chat application built with React and Firebase.</p>
            <a href="#">View </a>
        </div>
       
       
    </div>
</section>