@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);
.aa{
  color: white;
    font-family: 'Open Sans', sans-serif;
}
p{
  color: white;
    font-family: 'Open Sans', sans-serif;
}
