/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
    border: none !important;
    margin: 0px !important;
    padding: 0 !important;
    background-color: #2a2727 !important;
}
